<template>
    <div class="panel">
        <div class="flex justify-between">
            <h2 class="text-4xl">
                Miembros
            </h2>
            <div>
                <button class="btn-secondary" @click="queryingPartner = true">
                    Consultar miembro
                </button>
                <button class="btn-primary" @click="addingUser = true">
                    Añadir miembro
                </button>
            </div>
        </div>
        <table class="mt-4">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Código</th>
                    <th>Proyectos</th>
                    <th>Sexo</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member in members" :key="member.id">
                    <td>{{ member.nombre }}</td>
                    <td>{{ member.apellidos }}</td>
                    <td>{{ member.codigo }}</td>
                    <td>{{ 'Proyectos' /*member.nombre*/ }}</td>
                    <td>{{ member.sexo ? member.sexo.name : 'NS/NC' }}</td>
                    <td>
                        <nuxt-link :to="'/members/show/' + member._id" class="btn-primary">
                            Ver miembro
                        </nuxt-link>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-between place-items-center mt-5">
            <button class="btn-primary" @click="changePage(page - 1)">
                Anterior
            </button>
            <span class="p-2 w-10 h-10 rounded-full text-center bg-gray-200">{{ page }}</span>
            <button class="btn-primary" @click="changePage(page + 1)">
                Siguiente
            </button>
        </div>
        <add-member :active="addingUser" @close="reload" />
        <div v-if="queryingPartner" class="inset-0 fixed bg-black bg-opacity-75">
            <span class="fixed right-5 top-5 text-white font-bold cursor-pointer" @click="queryingPartner = false">X</span>
            <div class="w-6/12 mx-auto mt-10 bg-white p-5 rounded-xl">
                <form @submit.prevent="goToPartner">
                    <div class="form-group">
                        <label class="label text-center" for="codigo">
                            <h5 class="text-3xl">Introduzca el código del socio que quiera consultar</h5>
                        </label>
                        <input
                            id="codigo"
                            v-model="partnerQuerying"
                            autofocus
                            class="input"
                            type="text"
                            name="codigo"
                        >
                    </div>
                    <div class="form-buttons">
                        <button class="btn-primary" type="submit">
                            Consultar miembro
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import AddMember from '../../components/members/addmember.vue'
export default {
    components: { AddMember },
    data () {
        return {
            members: [],
            partnerQuerying: '',
            addingUser: false,
            page: 1,
            queryingPartner: false
        }
    },
    watch: {
        page () {
            this.loadMembers()
        }
    },
    mounted () {
        this.loadMembers()
        console.log(window.$nuxt.context)
    },
    methods: {
        async loadMembers () {
            const members = await this.$axios.get('/admin/members?page=' + this.page)
            this.members = members.data || []
        },
        reload () {
            this.addingUser = false
            this.members = []
            this.loadMembers()
        },
        changePage (page) {
            if (page === 0) { return }
            if (this.members.length < 10 && page > this.page) { return }
            this.page = page
        },
        async goToPartner () {
            if (this.partnerQuerying === '') { return }
            const members = await this.$axios.get('/admin/members/query?q=' + this.partnerQuerying)
            if (members.data.length === 1) {
                const member = members.data[0]
                this.$router.push('/members/show/' + member._id)
            } else {
                this.partnerQuerying = ''
                this.queryingPartner = false
                this.members = members.data
            }
        }
    }
}
</script>

<style scoped>
.modal-newuser {
  max-height: 90vh;
  overflow: auto;
}

table th, table td {
    @apply text-lg p-2;
}
</style>
