<template>
    <form v-if="active" class="modal inset-0 bg-black bg-opacity-75 fixed" @submit.prevent="updatemember">
        <span
            class=" absolute text-white m-4 right-4 font-bold cursor-pointer close-modal"
            @click="$emit('close')"
        >X</span>
        <div class="modal-newuser modal-root bg-white w-8/12 mt-16 mx-auto p-6 rounded-xl">
            <div class="modal-heading">
                <h3 class="text-4xl text-center font-bold">
                    Añadir miembro
                </h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="label" for="codigo">Código de socio</label>
                    <input
                        id="codigo"
                        v-model="member.codigo"
                        autofocus
                        class="input"
                        type="text"
                        name="codigo"
                    >
                </div>

                <h3 class="text-xl">
                    Datos personales
                </h3>
                <div class="grid grid-cols-2 gap-2">
                    <div class="form-group">
                        <label class="label" for="nombre">Nombre</label>
                        <input id="nombre" v-model="member.nombre" class="input" type="text" name="nombre">
                    </div>
                    <div class="form-group">
                        <label class="label" for="apellidos">Apellidos</label>
                        <input
                            id="apellidos"
                            v-model="member.apellidos"
                            class="input"
                            type="text"
                            name="apellidos"
                        >
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-2">
                    <div class="form-group">
                        <label class="label" for="fechanac">Fecha nacimiento</label>
                        <input
                            id="fechanac"
                            v-model="fechan"
                            class="input"
                            type="date"
                            name="fechanac"
                        >
                    </div>
                    <div class="form-group">
                        <label class="label" for="sexo">Sexo</label>
                        <select id="sexo" v-model="member.sexo._id" class="input">
                            <option
                                v-for="sexo in sexos"
                                :key="sexo._id"
                                :value="sexo._id"
                            >
                                {{ sexo.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label" for="socioono">Socio o no</label>
                        <select id="socioono" v-model="member.socioono._id" class="input">
                            <option v-for="socioono in socioonos" :key="socioono.id" :value="socioono._id">
                                {{ socioono.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label" for="SIP">SIP</label>
                    <input id="SIP" v-model="member.sipcard" class="input" type="text" name="SIP">
                </div>

                <h3 class="text-xl">
                    Datos de residencia
                </h3>
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group">
                        <label class="label" for="nacionalidad">Nacionalidad</label>
                        <select id="nacionalidad" v-model="(member.nacionalidad || {})._id" class="input">
                            <option
                                v-for="nacionalidad in nacionalidades"
                                :key="nacionalidad._id"
                                :value="nacionalidad._id"
                            >
                                {{ nacionalidad.name }}
                            </option>
                            <option value="NS/NC">
                                No sabe no contesta
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="label" for="ciudadresidencia">Ciudad residencia</label>
                        <select id="ciudadresidencia" v-model="(member.ciudadresidencia || {})._id" class="input">
                            <option
                                v-for="ciudadresidencia in residencias"
                                :key="ciudadresidencia._id"
                                :value="ciudadresidencia._id"
                            >
                                {{ ciudadresidencia.name }}
                            </option>
                            <option value="NS/NC">
                                No sabe no contesta
                            </option>
                        </select>
                    </div>
                </div>

                <h3 class="text-xl">
                    Datos de contacto
                </h3>
                <div class="form-group">
                    <label class="label" for="email">Correo electrónico</label>
                    <input
                        id="email"
                        v-model="member.correoelectronico"
                        class="input"
                        type="text"
                        name="email"
                    >
                </div>
                <div class="form-group">
                    <label class="label" for="telefono">Teléfono</label>
                    <input
                        id="telefono"
                        v-model="member.telefono"
                        class="input"
                        type="text"
                        name="telefono"
                    >
                </div>

                <h3 class="text-xl">
                    Deje algunas cosas escritas
                </h3>
                <div class="grid grid-cols-2 gap-2">
                    <div class="form-group">
                        <label class="label" for="observaciones">Observaciones</label>
                        <textarea
                            id="observaciones"
                            v-model="member.observaciones"
                            class="input textarea"
                            type="text"
                            name="observaciones"
                        />
                    </div>
                    <div class="form-group">
                        <label class="label" for="cosaspendientes">Cosas pendientes</label>
                        <textarea
                            id="cosaspendientes"
                            v-model="member.cosaspendientes"
                            class="input textarea"
                            type="text"
                            name="cosaspendientes"
                        />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-buttons">
                    <button class="btn-primary" type="submit">
                        Actualizar elemento
                    </button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    props: ['active', 'id'],
    data () {
        return {
            nacionalidades: [],
            residencias: [],
            sexos: [],
            socioonos: [],
            member: {
                codigo: '',
                nombre: '',
                apellidos: '',
                sexo: '',
                fechanacimiento: '',
                socioono: '',
                sipcard: '',
                nacionalidad: '',
                ciudadresidencia: '',
                correoelectronico: '',
                telefono: '',
                observaciones: '',
                cosaspendientes: ''
            }
        }
    },
    computed: {
        fechan: {
            get () {
                const d = new Date(this.member.fechanacimiento)
                const day = dayjs(d)
                const str = day.format('YYYY-MM-DD')
                return str
            },
            set (value) {
                console.log(value)
                const time = new Date(value)
                this.member.fechanacimiento = time.getTime()
                console.log(time.getTime())
            }
        }
    },
    async mounted () {
        const idUser = this.id
        const member = await this.$axios.get('/admin/members/' + idUser)
        this.member = member.data
        console.log('editando miembro ', this.member)
        const nacionalidades = await this.$axios.get('/admin/resources/nacionalidad')
        const residencias = await this.$axios.get('/admin/resources/residencia')
        const sexos = await this.$axios.get('/admin/resources/sexo')
        const socioonos = await this.$axios.get('/admin/resources/socioono')
        this.nacionalidades = nacionalidades.data
        this.residencias = residencias.data
        this.sexos = sexos.data
        this.socioonos = socioonos.data
    },
    methods: {
        async updatemember () {
            const data = {
                ...this.member,
                nacionalidad: this.member.nacionalidad._id,
                ciudadresidencia: this.member.ciudadresidencia._id,
                sexo: this.member.sexo._id,
                socioono: this.member.socioono._id
            }
            await this.$axios.put('/admin/members/edit/' + this.id, data)
            this.$emit('close')
        }
    }
}
</script>

<style scoped>
.modal-newuser {
  max-height: 90vh;
  overflow: auto;
}
</style>
