<template>
    <div class="border rounded-xl my-5 border-gray-400 bg-gray-50">
        <div class="bg-gray-200 px-5 py-2 border-b rounded-tl-xl rounded-tr-xl border-gray-400 flex justify-between place-items-center">
            <div>
                (<span class="font-bold">{{ tipoAtenciones }}</span>)
            </div>
        </div>
        <div class="p-5">
            <p>{{ atencion.comentario }}</p>
            <ul class="list-disc ml-2 my-5 py-2 pl-10">
                <logresource :title="'Proyectos'" :resource="atencion.Proyectos" />
                <logresource :title="'Derivado a'" :resource="atencion.derivadoa" />
                <logresource :title="'Derivado de'" :resource="atencion.derivadode" />
                <logresource :title="'Motivos'" :resource="atencion.motivosatencion" />
                <logresource :title="'Formacion'" :resource="atencion.formacion" />
                <logresource :title="'Voluntariado'" :resource="atencion.voluntariado" />
            </ul>
            <p>{{ atencion.cosaspendientes }}</p>
            <div class="flex justify-end">
                <nuxt-link class="button btn-primary" :to="'/atenciones/' + $route.params.id + '/edit?atention=' + atencion._id">
                    Editar atencion
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
import logresource from './logresource.vue'
export default {
    components: { logresource },
    props: ['atencion'],
    computed: {
        tipoAtenciones () {
            if (!this.atencion.tipoaenciones) { return '' }
            return this.atencion.tipoaenciones.map(a => a.name).join(', ')
        }
    },
    mounted () {
        console.log(this.atencion)
    }
}
</script>
