<template>
    <div class="checkbox-panel my-4 p-2">
        <label class="text-2xl">{{ title }}</label>
        <div class="grid grid-cols-4 gap-2">
            <label v-for="element in elements" :key="element._id">
                <input v-model="items" checked="on" class="inline-block" type="checkbox" :value="element._id">
                <span>{{ element.name }}</span>
            </label>
        </div>
    </div>
</template>

<script>
export default {
    props: ['title', 'resource', 'values'],
    data () {
        return {
            items: [],
            elements: []
        }
    },
    watch: {
        items (newv) {
            this.$emit('input', newv)
        }
    },
    async mounted () {
        const tipoAtenicones = await this.$axios.get('/admin/resources/' + this.resource)
        this.elements = tipoAtenicones.data
        if (this.values) {
            const values = JSON.parse(JSON.stringify(this.values))
            if (values.length > 0) {
                this.items = values.map(v => v._id)
            }
        }
    }
}
</script>
