<template>
    <div>
        <template v-if="authed">
            <slot />
        </template>
        <template v-else>
            <p>Ya has accedido al sistema</p>
        </template>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed: {
        ...mapState('auth', ['token']),
        authed () {
            return this.token.length === 0
        }
    }
}
</script>
