<template>
    <li>
        <span class="font-bold">{{ title }}: </span>
        <span class="mx-2">
            {{ itemsJoined }}
        </span>
    </li>
</template>

<script>
export default {
    props: ['resource', 'title'],
    computed: {
        itemsJoined () {
            if (!this.resource) { return '' }
            return this.resource.map(r => r.name).join(', ')
        }
    }
}
</script>
