<template>
    <div class="panel mb-2">
        <h3 class="text-3xl">
            {{ resource }}
        </h3>
        <div class="grid grid-cols-4 gap-4 my-4">
            <div v-for="(item, index) in items" :key="index" class="border py-2 px-4 rounded-xl">
                <p class="text-lg text-center font-bold">
                    {{ item.name }}
                </p>
                <div>
                    <span class="text-blue-800 cursor-pointer" @click="itemEditing = item">Editar</span>
                </div>
            </div>
        </div>
        <hr>
        <form @submit.prevent="putItem">
            <div class="form-group">
                <label class="label" for="user">Nombre de nuevo elemento</label>
                <input
                    id="user"
                    v-model="newItemName"
                    autofocus
                    class="input"
                    type="text"
                    name="user"
                >
            </div>
            <div class="form-buttons">
                <button class="btn-primary" type="submit">
                    Añadir elemento
                </button>
            </div>
        </form>

        <form v-if="itemEditing._id" class="modal inset-0 bg-black bg-opacity-75 fixed" @submit.prevent="updateItem">
            <span class="absolute text-white m-4 right-4 font-bold cursor-pointer close-modal" @click="itemEditing = {}">X</span>
            <div class="modal-root bg-white w-6/12 mt-16 mx-auto p-6 rounded-xl">
                <div class="modal-heading ">
                    <h3 class="text-4xl text-center font-bold">
                        Editando elemento
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="label" for="user">Nombre nuevo para el elemento</label>
                        <input
                            id="user"
                            v-model="itemEditing.name"
                            autofocus
                            class="input"
                            type="text"
                            name="user"
                        >
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-buttons">
                        <button class="btn-primary" type="submit">
                            Actualizar elemento
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    props: ['resource'],
    data () {
        return {
            items: [],
            newItemName: '',
            itemEditing: {}
        }
    },
    async mounted () {
        const resources = await this.$axios.get('/admin/resources/' + this.resource)
        this.items = resources.data
    },
    methods: {
        async putItem () {
            const resource = await this.$axios.post('/admin/resources/' + this.resource, { name: this.newItemName })
            this.items.push(resource.data)
            this.newItemName = ''
        },
        async updateItem () {
            const resource = await this.$axios.put('/admin/resources/' + this.resource + '/edit/' + this.itemEditing._id, this.itemEditing)
            console.log(resource)
            this.itemEditing = {}
        }
    }
}
</script>

<style scoped>

</style>
