@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/forms.scss';

body {
  @apply bg-gray-100;
}

.nav-link {
  @apply text-gray-200;
}
.nav-link.nuxt-link-active {
  @apply text-white;
}
.nav-link.nuxt-link-active.nuxt-link-exact-active {
  @apply font-bold;
}

.panel {
  @apply bg-white px-5 py-2 rounded-lg;
}

table {
    width: 100%;
}

table td,
table th {
    border: 1px solid;
    @apply px-4;
}

a {
    @apply text-blue-500;
}
