.form-group {
    & > label {
      @apply text-lg block text-gray-700;
    }
    .input, input, select
    {
      @apply border rounded block w-full text-lg border-gray-600 px-2 text-gray-800 bg-white;
    }
    & select {
      @apply p-1;
    }
}

.form-buttons {
  @apply flex justify-end my-4;
}
button, .button {
  @apply  rounded-xl px-4 py-2;
  &.btn-primary,&.btn-primary {@apply bg-blue-800 text-white;}
  &.btn-secondary,&.btn-secondary {@apply bg-gray-800 text-white;}
  &.btn-warning,&.btn-warning {@apply bg-yellow-800 text-white;}
  &.btn-danger,&.btn-danger {@apply bg-red-800 text-white;}
}
