<template>
    <div>
        <header class="flex justify-between place-items-center">
            <h1>Acavih finances</h1>
            <template v-if="token.length != ''">
                <ul class="flex">
                    <li class="mr-4">
                        <nuxt-link class="nav-link" to="/resources">
                            Recursos
                        </nuxt-link>
                    </li>
                    <li class="mr-4">
                        <nuxt-link class="nav-link" to="/members">
                            Miembros
                        </nuxt-link>
                    </li>
                    <li>
                        <span class="bg-red-800 text-white text-lg p-1 rounded-lg px-5 font-bold cursor-pointer" @click="logout">Cerrar sesion</span>
                    </li>
                </ul>
            </template>
        </header>
        <main>
            <div class="main-container">
                <div class="w-10/12 mx-auto">
                    <nuxt />
                </div>
            </div>
        </main>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
export default {
    computed: {
        ...mapFields('auth', ['token'])
    },
    methods: {
        logout () {
            console.log('loggin out')
            this.$router.push('/')
            this.token = ''
        }
    }
}
</script>

<style scoped>
header {
  @apply bg-gray-800 fixed inset-x-0 px-5 py-2;
  top: 0px;
}
h1 {
  @apply m-0 text-white text-2xl;
}
main {
  @apply mt-14;
}
</style>
