<template>
    <div class="inset-0 fixed bg-black bg-opacity-75">
        <div class="bg-white w-6/12 mx-auto mt-10 p-10 rounded-lg border-4 border-dashed border-red-800 h-5/6 overflow-auto">
            <h1 class="text-3xl text-red-800 text-center">
                <template v-if="error.statusCode === 404">
                    Page not found
                </template>
                <template v-else-if="error.statusCode === 401">
                    Sesión no válida o caducada
                </template>
                <template v-else>
                    Ha sucedido un error inesperado
                    {{ error.message }}
                </template>
            </h1>
            <vue-code-highlight language="javascript">
                <pre>
                //Paste your code here
                console.log('Hola mundo')
                function log(a, b) {}
                </pre>
            </vue-code-highlight>
            <div v-for="cerror in errors" :key="cerror.message">
                <h2 class="text-2xl">
                    {{ cerror.message }}
                </h2>
                <div>
                    <pre class="language-javascript">
                        <code v-html="getStack(cerror.stack)" />
                    </pre>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields'
import { mapState } from 'vuex'
import { component as VueCodeHighlight } from 'vue-code-highlight'

export default {
    components: {
        VueCodeHighlight
    },
    props: ['error'],
    computed: {
        ...mapFields('auth', ['token']),
        ...mapState(['errors'])
    },
    mounted () {
        console.dir(this.errors)
        if (this.error.statusCode === 401) {
            this.$router.push('/')
            this.token = ''
        }
    },
    methods: {
        getStack (stack) {
            // return stack.replace(/at/g, '<span class="token keyword">at</span>')
            const lines = stack.split('\n')
            const firstLine = '<div class="text-lg text-center">' + lines[0] + '</div>'
            lines.splice(0, 1)
            console.log(lines)
            return firstLine + '<div>' + lines.map((l) => {
                const nAt = l.replace('at ', '')
                return '<span class="token keyword">at</span><span class="token string">' + nAt + '</span>'
            }).join('</div><div>').replace(/\s+/g, ' ') + '</div>'
        }
    }
}
</script>
