<template>
    <div class="panel">
        <guest>
            <h2 class="text-5xl text-center">
                Accede al sistema
            </h2>
            <p v-if="message" class="border-red-800 rounded-xl p-5 bg-red-200 text-red-800 font-bold border-2">
                {{ message }}
            </p>
            <form @submit.prevent="login">
                <div class="form-group">
                    <label class="label" for="user">Nombre de usuario</label>
                    <input
                        id="user"
                        v-model="user.user"
                        autofocus
                        class="input"
                        type="text"
                        name="user"
                    >
                </div>
                <div class="form-group">
                    <label class="label" for="password">Contraseña</label>
                    <input id="password" v-model="user.password" class="input" type="password" name="password">
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn-primary">
                        Login
                    </button>
                </div>
            </form>
        </guest>
    </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'

export default {
    data () {
        return {
            user: {
                user: '',
                password: ''
            },
            message: ''
        }
    },
    computed: {
        ...mapFields('auth', ['token'])
    },
    methods: {
        async login () {
            try {
                const req = await this.$axios.post('/auth/login', this.user)
                this.$axios.defaults.headers.authorization = req.data.token
                this.token = req.data.token
                // await http.get('http://localhost:8080/admin/')
                this.message = ''
            } catch (error) {
                this.message = error.response.data
            }
        }
    }
}
</script>
