<template>
    <div>
        <div class="panel mb-4 p-4 flex justify-between">
            <h2>Pestañas</h2>
            <div>
                <span v-for="(item, index) in items" :key="index" style="cursor: pointer" :class="getTabClasesFor(item)" @click="itemActive = item">
                    {{ item }}
                </span>
            </div>
        </div>
        <div v-for="(item, index) in items" :key="index">
            <resource v-if="itemActive == item" :resource="item" />
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            resources: 'derivaciones,nacionalidad,residencia,sexo,socioono,tipoatenciones,proyectos,motivosatencion,formacion,voluntariado',
            itemActive: ''
        }
    },
    computed: {
        items () {
            return this.resources.split(',')
        }
    },
    mounted () {
        this.itemActive = this.items[0]
    },
    methods: {
        getTabClasesFor (tab) {
            return (this.itemActive === tab ? 'bg-blue-200' : 'bg-gray-200') + ' p-2 rounded-lg mx-4'
        }
    }
}
</script>
