<template>
    <div class="panel">
        <h2 class="text-4xl">
            Editando atención
        </h2>
        <form v-if="fetched" @submit.prevent="updateAttention">
            <div class="form-group">
                <label class="label" for="comentario">Comentario de la atencion</label>
                <textarea
                    id="comentario"
                    v-model="atencion.comentario"
                    class="input textarea"
                    type="text"
                    name="comentario"
                />
            </div>

            <div class="form-group">
                <label class="label" for="fechaatencion">Fecha de atencion</label>
                <input
                    id="fechaatencion"
                    v-model="fechaatencion"
                    class="input"
                    type="date"
                    name="fechaatencion"
                >
            </div>

            <checkbox-resources v-model="atencion.tipoaenciones" :values="atencion.tipoaenciones" title="Tipos de atenciones" resource="tipoatenciones" />
            <checkbox-resources v-model="atencion.Proyectos" :values="atencion.Proyectos" title="Proyectos" resource="proyectos" />
            <checkbox-resources v-model="atencion.motivosatencion" :values="atencion.motivosatencion" title="Motivos de atenciones" resource="motivosatencion" />
            <div class="grid grid-cols-2 gap-2">
                <checkbox-resources v-model="atencion.derivadode" :values="atencion.derivadode" title="Derivados de" resource="derivaciones" />
                <checkbox-resources v-model="atencion.derivadoa" :values="atencion.derivadoa" title="Derivados a" resource="derivaciones" />
            </div>
            <checkbox-resources v-model="atencion.formacion" :values="atencion.formacion" title="Formacion" resource="formacion" />
            <checkbox-resources v-model="atencion.voluntariado" :values="atencion.voluntariado" title="Voluntariado" resource="voluntariado" />

            <div class="form-group">
                <label class="label" for="cosaspendientes">Cosas pendientes</label>
                <textarea
                    id="cosaspendientes"
                    v-model="atencion.cosaspendientes"
                    class="input textarea"
                    type="text"
                    name="cosaspendientes"
                />
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn-primary">
                    Guardar cambios
                </button>
            </div>
        </form>
    </div>
</template>

<script>
import CheckboxResources from '../../../components/checkboxresources.vue'
export default {
    components: { CheckboxResources },
    data () {
        return {
            fetched: false,
            atencion: {
                comentario: '',
                fechaatencion: '',
                tipoaenciones: [],
                Proyectos: [],
                motivosatencion: [],
                derivadoa: [],
                derivadode: [],
                cosaspendientes: ''
            }
            // user: {type: mongoose.Types.ObjectId, ref: 'partners'},
        }
    },
    computed: {
        fechaatencion: {
            get () {
                const d = new Date(Number(this.atencion.fechaatencion))
                const day = dayjs(d)
                const str = day.format('YYYY-MM-DD')
                return str
            },
            set (value) {
                console.log(value)
                const time = new Date(value)
                this.atencion.fechaatencion = time.getTime()
                console.log(time.getTime())
            }
        }
    },
    async mounted () {
        const atencion = await this.$axios.get('/admin/atenciones/show/' + this.$route.query.atention)
        this.atencion = atencion.data
        this.fetched = true
        console.log(this.atencion)
    },
    methods: {
        async updateAttention () {
            const data = {
                ...this.atencion,
                user: this.$route.params.memberId
            }
            await this.$axios.put('/admin/atenciones/edit/' + this.$route.query.atention, data)
            this.$router.push('/members/show/' + this.$route.params.memberId)
        }
    }
}
</script>
