<template>
    <div class="panel">
        <div class="flex justify-between">
            <h2 class="text-4xl">
                Viendo miembro <strong>{{ member.nombre }} {{ member.apellidos }}</strong>
            </h2>
            <button class="btn-primary" @click="editingUser = true">
                Editar miembro
            </button>
        </div>

        <div class="flex my-5">
            <div class="w-3/12">
                <h3 class="text-3xl">
                    Datos generales
                </h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Código</td>
                            <td>{{ member.codigo }}</td>
                        </tr>
                        <tr>
                            <td>SIP</td>
                            <td>{{ member.sipcard }}</td>
                        </tr>
                        <tr>
                            <td>Edad</td>
                            <td>
                                <template v-if="edad">
                                    {{ edad }} años
                                </template>
                                <template v-else>
                                    Edad desconocida
                                </template>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ member.correoelectronico }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-9/12 ml-10">
                <div class="flex justify-between">
                    <h3 class="text-3xl">
                        Listado de atenciones
                    </h3>
                    <nuxt-link :to="'/atenciones/' + member._id + '/create'">
                        Crear atencion
                    </nuxt-link>
                </div>

                <div v-for="(atenciones, index) in groupedAtenciones" :key="index" class="atenciones-list">
                    <h4 class="text-2xl">
                        Atenciones el: {{ index }}
                    </h4>
                    <atencion v-for="atencion in atenciones" :key="atencion.id" :atencion="atencion" />
                </div>
            </div>
        </div>

        <edit-member :id="$route.params.id" :active="editingUser" @close="reload" />
    </div>
</template>

<script>
import _ from 'lodash'
import EditMember from '../../../components/members/editmember.vue'
import Atencion from '../../../components/atencion.vue'

function calcularEdad (fecha) {
    const hoy = new Date()
    const cumpleanos = new Date(fecha)
    let edad = hoy.getFullYear() - cumpleanos.getFullYear()
    const m = hoy.getMonth() - cumpleanos.getMonth()

    if (m < 0 || (m === 0 && hoy.getDate() < cumpleanos.getDate())) {
        edad--
    }

    return edad
}
export default {
    components: { EditMember, Atencion },
    data () {
        return {
            member: {},
            groupedAtenciones: {},
            editingUser: false
        }
    },
    computed: {
        edad () {
            if (!this.member.fechanacimiento) {
                return null
            }
            return calcularEdad(new Date(this.member.fechanacimiento))
        }
    },
    async mounted () {
        await this.loadMember()
        console.log(this.member)
    },
    methods: {
        async loadMember () {
            const idUser = this.$route.params.id
            const member = await this.$axios.get('/admin/members/' + idUser)
            this.member = member.data
            const atenciones = await this.$axios.get('/admin/atenciones/for/' + idUser)
            const atencionesConFecha = atenciones.data.map((atencion) => {
                const d = new Date(Number(atencion.fechaatencion))
                atencion.fechaatencion = dayjs(d).format('YYYY-MM-DD')
                return atencion
            })
            this.groupedAtenciones = _.groupBy(atencionesConFecha, 'fechaatencion')
        },
        reload () {
            this.editingUser = false
            this.members = []
            this.loadMember()
        }
    }
}
</script>

<style scoped>
.modal-newuser {
  max-height: 90vh;
  overflow: auto;
}

.atenciones-list:not(:last-child) {
    border-bottom: 1px solid rgba(73, 73, 73, 0.452);
    margin-bottom: 10px
}
</style>
